.container {
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  width: 240px;
  align-items: flex-end;
  justify-content: center;
}

.buttonsBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

  @media only screen and (max-width: 600px) {
    margin: 5% -5%;
  }
}

.previewField {
  margin-left: -7%;
  width: 35%;
  display: flex;
  position: absolute;
  bottom: 80%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.4em;

  @media only screen and (max-width: 600px) {
    margin-left: 5%;
    width: 70%;
    display: flex;
    position: absolute;
    bottom: 25%;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.x {
  display: flex;
  justify-content: center;
}
