@import '../../../../node_modules/normalize.css/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Fahkwang');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');

body {
  display: flex;
  position: relative;
  justify-content: center;
  min-width: 450px;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(245, 245, 245);
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

*:focus {
  outline: 0;
}
