@import '../../../../node_modules/normalize.css/normalize.css';

body {
  padding: 0;
  margin: 0;
  min-width: 450px;
  width: 100%;
  box-sizing: border-box;
}

#APP {
  display: flex;
  height: 500px;
}

*:focus {
  outline: 0;
}
