.cut {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.8em;
  color: rgb(9, 173, 227);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  width: 23%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  font-family: 'Work Sans', sans-serif;
  margin: 5px;
}

.miniPoster {
  position: relative;
  height: 100%;
  width: auto;
}

.title {
  @extend .cut;

  width: 80%;
  font-size: 1.1em;
  font-weight: bold;
  color: black;
}

.descBox {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.description {
  padding-left: 15px;
  height: 20%;
  width: 100%;
  position: absolute;
  background-color: white;
  justify-content: center;
  display: flex;
  flex-direction: column;
  color: rgb(59, 179, 223);
}

.info {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 200%;
  height: 100%;
  left: 0;
  transition: 0.3s;

  &:hover {
    left: -100%;
  }
}

.previewField {
  width: 50%;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}

.inner {
  padding-left: 10px;
  display: flex;
  justify-content: center;
  width: 95%;
  height: 100%;
}

.button {
  margin: 5px;
  cursor: pointer;
  font-size: 1.5em;
  color: white;
  border: none;
  background: none;

  &:hover {
    color: red;
  }
}

.buttonBlock {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hoverTitle {
  @extend .cut;

  width: 80%;
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.innerDescr {
  width: 95%;
  font-size: small;
}
