@import url('https://fonts.googleapis.com/css?family=Fahkwang');

.container {
  color: white;
  display: flex;
  flex-direction: column;
  background-image: url('../../../imgs/cover-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

.inner {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 10px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Fahkwang', sans-serif;
}

input[type=text] {
  border: 2px solid white;
  border-radius: 4px;
  background: none;
  height: 2em;
  color: white;

  &::placeholder {
    color: white;
  }
}
