.container {
  border: solid 2px gray;
  border-radius: 5px;
  padding: 1em 1.5em;
  cursor: pointer;
  transition: 0.5s;
  background: none;
  color: white;

  &:hover {
    background-color: rgb(9, 173, 227);
  }
}
