.container {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Fahkwang', sans-serif;
  position: absolute;
  width: 100%;
}

.title {
  display: flex;
  color: white;
  margin-left: 3%;
}

input[type=text] {
  margin-top: 20px;
  border: 2px solid white;
  border-radius: 4px;
  background: none;
  height: 2em;
  width: 90%;
  color: white;
  background-image: url('../../../imgs/icons/search-3-32.png');
  background-size: 16px;
  background-repeat: no-repeat;
  background-position: 90%;

  &::placeholder {
    color: white;
  }

  @media only screen and (max-width: 600px) {
    width: 60%;
  }
}
