.container {
  display: flex;
  height: 90px;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Fahkwang', sans-serif;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.title {
  text-decoration: none;
  margin: auto 2%;
  font-size: 50px;
  font-weight: bolder;
  display: flex;
  color: white;
  text-shadow: 0 0 10px black;

  @media only screen and (max-width: 600px) {
    margin: 0;
    font-size: 40px;
  }
}

input[type=text] {
  width: 100%;
  border: none;
  padding-left: 10px;
  background: none;
  color: white;

  &::placeholder {
    color: white;
  }
}

.form {
  border: 2px solid white;
  border-radius: 5px;
  height: 2em;
  margin: auto 2%;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: 600px) {
    margin: 1% auto;
  }
}

.button {
  cursor: pointer;
  border: none;
  background: none;
}
