@import url('https://fonts.googleapis.com/css?family=K2D');

.conf {
  border-radius: 3px;
  margin: 5px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 180px;
  align-items: center;
  justify-content: center;
}

.inner {
  display: flex;
  width: 90%;
  border-bottom: 1px lightgray solid;
}

.tableStyle {
  @extend .conf;

  background-color: lightgray;
}

.rowsStyle {
  @extend .conf;

  background-color: rgb(9, 173, 227);
}

.displayStyle {
  margin: auto;
  display: flex;
}
