@import '../../Components/TableItem/tableItem.scss';

.con {
  position: fixed;
  flex-direction: column;
  background-color: white;
  z-index: 2;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 50%;
  text-align: left;
  border-radius: 10px;
}

.button {
  color: black;
}

.noTrailer {
  height: 100%;
  display: inline-block;
  justify-content: center;
  align-items: center;
}

.iframe {
  border: 1px solid black;
}
