@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700');

.container {
  display: flex;
  flex-direction: row;
  color: white;
  z-index: 10;
  position: relative;
  bottom: 240px;
  height: 180px;
  background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  font-family: 'Work Sans', sans-serif;
}

.div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
