.container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  color: white;
  position: relative;
  bottom: 50px;
  margin-top: -180px;
  height: 180px;
  width: 90%;
  padding: -15%;
  font-family: 'Work Sans', sans-serif;

  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }
}

.buttonsBlock {
  width: 450px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  @media only screen and (max-width: 600px) {
    display: flex;
    align-items: center;
  }
}

.prevField {
  width: 250px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 30%;
  right: -10%;

  @media only screen and (max-width: 600px) {
    bottom: 180%;
  }
}
