.container {
  display: flex;
  justify-content: flex-start;
  width: 90%;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}

.item {
  background: none;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  color: rgb(9, 173, 227);
  font-size: 20px;
  font-family: 'K2D', sans-serif;
  height: 35px;
  box-sizing: border-box;
  margin-right: 3%;
  cursor: pointer;

  &:hover {
    border-bottom: 2px solid rgb(9, 173, 227);
  }

  @media only screen and (max-width: 600px) {
    margin: 0;
  }
}

.select {
  @extend .item;

  background: none;
  border: none;
  margin-top: -3px;
  margin-left: -3px;

  &:hover {
    border-bottom: none;
    cursor: pointer;
  }

  &:active {
    border: none;
  }
}
